---
---

@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';
@import "fontawesome/solid";
@import "fontawesome/brands";
@import "fontawesome/regular";

.page-content {
  background-image: url({{site.baseurl}}/img/light-grey-terrazzo.png);
}

#page-footer {
  background-image: url({{site.baseurl}}/img/cloth_alike.png);
}

#main-container {
  background-color: $white;
}

.filter-item { display: none; }
// .filtered .filter-item.selected { display:block } /* selected class applied via js */

.selected { 
  display: block;
}
.all-selected { 
  display: block;
} 
/* selected class applied via js */

.sticky-aside {
  position: -webkit-sticky;
  position: sticky;
  width: 99%;
  top: -1px;
 }

#header-top {
  background: $black;
  color: $white;
}

#header-bottom {
  background: url({{site.baseurl}}/img/ban-default.jpg}) no-repeat left center;
  height: 200px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}