---
layout: default
title: Vêtements
place: menu
pos: 3
---
<div class="col-xs-12 col-sm-2 collapse d-md-block" id="asideCol">
  <h5>Affiner</h5>
  {% assign couleurs = site.vetements | map: 'couleur' | uniq %}
  <p class="mb-0 mt-3">Couleurs</p>
  {% for item in couleurs %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input filter-input" name="filter" id="{{item}}" onclick="filterClick(this)">
    <label class="custom-control-label" for="{{item}}">{{item}}</label>
  </div>
  {% endfor %}
  {% assign matieres = site.vetements | map: 'matiere' | uniq %}
  <p class="mb-0 mt-3">Matières</p>
  {% for item in matieres %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input filter-input" name="filter" id="{{item}}" onclick="filterClick(this)">
    <label class="custom-control-label" for="{{item}}">{{item}}</label>
  </div>
  {% endfor %}
  {% assign motifs = site.vetements | map: 'motif' | uniq %}
  <p class="mb-0 mt-3">Motifs</p>
  {% for item in motifs %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input filter-input" name="filter" id="{{item}}" onclick="filterClick(this)">
    <label class="custom-control-label" for="{{item}}">{{item}}</label>
  </div>
  {% endfor %}
  {% assign manches = site.vetements | map: 'manches' | uniq %}
  <p class="mb-0 mt-3">Manches</p>
  {% for item in manches %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input filter-input" name="filter" id="{{item}}" onclick="filterClick(this)">
    <label class="custom-control-label" for="{{item}}">{{item}}</label>
  </div>
  {% endfor %}
</div>
<div class="col">
    <button class="btn btn-info btn-block d-sm-block d-md-none" type="button" data-toggle="collapse" aria-expanded="true" data-target="#asideCol" aria-expanded="false" aria-controls="asideCol">
      <i class="fas fa-bars"></i> Affiner
    </button>
    <h5>Produits</h5>
    <div class="row">
      {%- for item in site.vetements -%}
      <div class="col-sm-12 col-md-6 col-lg-4 filter-item all-selected 
      {{item.couleur | join: ' '}} 
      {{item.matiere | join: ' '}}
      ">
        <div class="card">
          <img class="card-img-top img-fluid" src="{{site.baseurl}}/img/{{item.image}}" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">{{ item.title }}</h6>
            <p class="card-text py-0 my-0"><strong>{{ item.marque }}</strong> - <em>{{item.couleur | join: ', '}} - {{item.sexe}}</em></p>
            <p class="card-text"><small>{{ item.desc }}</small></p>
            <p>{{item.price}}€<button class="btn btn-primary snipcart-add-item float-right"
            data-item-id="{{item.id}}"
            data-item-name="{{item.name}}"
            data-item-price="{{item.price}}"
            data-item-url="{{page.url}}"
            data-item-description="{{item.desc}}">Ajouter</button></p>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
</div>