<footer>
    <script src="{{"/js/jquery.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/js/bootstrap.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/js/custom.js" | prepend: site.baseurl}}"></script>

    <div id="page-footer">
        <div class="container">
            <div class="row text-center">
                <div class="col">a</div>
                <div class="col">b</div>
                <div class="col">c</div>
            </div>
        </div>
    </div>
</footer>